@theme { 
     --radius-5xl: 100%;
 }
 #charmonman-regular {
    font-family: "Charmonman", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .charmonman-bold {
    font-family: "Charmonman", serif;
    font-weight: 700;
    font-style: normal;
  }
  .newspan{
    font-family: 'Times New Roman', serif;
    font-size: 27px;
    color: black;
    letter-spacing: 0.1;
    margin-top: 10px;
     
  }